/target/

.project
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.jst.jsp.core.prefs
.settings/org.eclipse.m2e.core.prefs
.settings/org.eclipse.wst.common.component
.settings/org.eclipse.wst.common.project.facet.core.xml
.settings/org.eclipse.wst.validation.prefs
.tern-project
doc/~$sue_leave_application_20161019_1.docx
doc/issue_leave_application_20161019_1.docx
doc/vpproject/prjLeaveApp.vpp~29
doc/vpproject/prjLeaveApp.vpp~30
.project
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.wst.common.component
.settings/org.eclipse.wst.common.project.facet.core.xml
doc/~$sue_leave_application_20161019_1.docx
.classpath
